html {
    padding-bottom: 50px;
}

body {
    padding-top: 170px;
    padding-bottom: 20px;
    background-color: green;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 200px;
}

.logo {
    width: 60px;
    margin: 10px 10px 0 0px;
    float: left !important;
}

.mobileAds img {
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 575px;
    max-height: 350px;
}

.adLink {
    text-decoration: underline;
}

textarea {
    box-sizing: border-box;
    height: 200px;
    width: 89%;
    border-radius: 10px;
    color: black;
}

.reviewEditor {
    height: 400px;
    max-width: 500px;
}

.platformLabel {
    width: 100%;
    text-align: center;
    font-size: 300%;
    color: black;
    font-weight: bold;
}

.table > tbody > tr > th,
.table > tbody > tr > td {
    text-align: center;
    border-top: none;
}

.contentContainer {
    border-radius: 20px;
    background-color: black;
    margin: auto;
    margin-bottom: 10px;
    color: white;
    padding: 20px;
}

    .contentContainer input {
        color: black;
    }

.contentHeader {
    color: white;
}

.sortBar {
    margin: 5px;
    border-radius: 10px;
}

#RoleName {
    color: black;
}

#RememberMeForm {
    margin-left: 6px;
}

.fullGameTable {
    border-radius: 20px;
    background-color: black;
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
    max-width: 400px;
}

    .fullGameTable .row {
        margin-bottom: 10px;
    }

.mainAside {
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    float: right;
}

.asideTitle {
    font-size: 140%;
    font-weight: bold;
    text-align: center;
}

.gameTable {
    border-top: none;
    color: white;
}

.thumbCell {
    text-align: center;
}

.nameHeader {
    text-align: center;
    font-size: 150%;
}

.bigSort {
    color: white;
    display: none;
}

.nameCell {
    text-align: center;
    margin-top: 10px;
}

    .nameCell a {
        color: white;
        font-size: 150%;
    }

.linkCell a {
    color: #337ab7;
    font-size: 100%;
}

.ratingCell {
    font-size: 150%;
    margin: auto;
    margin-top: 10px;
    height: 25px;
    text-align: center;
}

.ratingHeader {
    font-size: 150%;
    text-align: center;
}

.tableBodyRow {
    width: 95%;
    margin: auto;
    border: 3px solid white;
    margin-bottom: 10px;
    border-radius: 10px;
}

.smallSort {
    display: initial;
    color: white;
}

#userGreeting {
    max-width: 173px;
    max-height: 40px;
}

.navbar-inverse .navbar-brand {
    margin-top: 25px;
    font-size: 200%;
    color: white;
}

.loginContainer {
    height: 60px;
    font-size: 130%;
}

#reviewSearch {
    margin-right: -45px;
}

#publisherSearch {
    margin-right: -24px;
    margin-top: 10px;
}

.filterSearch {
    padding: 0;
    padding-top: 5px;
}

.filterList {
    width: 660px;
    margin: 0px;
    margin-top: 10px;
}

.filterListSmall {
    width: 300px;
    margin: 0px;
}

#gameFilterForm {
    padding: 0;
}

.searchLabel, .filterLabel {
    color: white;
    width: auto;
    padding: 0;
    padding-right: 10px;
    text-align: right;
    font-weight: normal;
    font-size: 140%;
    margin-top: 3px;
}

.gameSearch {
    margin: 0;
}

#searchCriteria, #platformFilter {
    width: 140px;
    max-width: 140px;
}

.contentSearch {
    margin: 0px;
}

.loginLink {
    height: 30px;
}

.navbar {
    background-color: black;
    border-bottom: 3px solid white;
}

.navbar-nav li {
    color: white;
    display: inline-flex;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    margin-top: 0px;
    font-size: 140%;
    padding: 10px 15px;
}

#registerLink, #loginLink, #adminLink {
    font-size: 100%;
}

.navbar-nav li label {
    width: 150px;
    text-align: right;
}

.navbar-nav li input {
    width: 120px;
    margin-top: 7px;
}

.navbar-nav li select {
    width: 127px;
}

.detailBox {
    background: black;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
}

    .detailBox div {
        margin-top: 10px;
        font-size: 120%;
    }

.hidden {
    display: none;
}

.detailLabel {
    margin: 0;
    font-size: 50%;
}

.reviewControl {
    width: auto;
}

.reviewText {
    padding: 0px 30px;
    text-align: justify;
}

.reviewNumber p {
    margin: 0;
    font-size: 200%;
}

.reviewBox {
    margin: 5px;
}

.reviewBreak {
    margin: 5px 15px 5px 15px;
}

.reviewBtn {
    text-align: center;
    margin-bottom: 50px;
}


footer {
    background: black;
    position: fixed;
    bottom: 0;
    z-index: 999999;
    width: 104%;
    margin-left: -8px;
    border-top: 3px solid white;
}

    footer p {
        color: white;
        text-align: center;
        margin-top: 10px;
    }


/*-------------------------------------------------------*/
/*ALL MEDIA TAGS*/
/*-------------------------------------------------------*/
@media (max-width: 767px) {
    .logo {
        margin: 10px 0px 0 10px;
    }
}

@media (max-width: 348px) {
    .logo {
        display: none;
    }
}

@media (max-width: 1199px) {
    #userSearch {
        margin-right: -30px;
    }
}

@media (min-width: 992px) {
    .col-md-10 {
        width: 80%;
    }

    .mainAside {
        width: 190px;
    }
}

@media (min-width: 1200px) {
    .mainAside {
        width: 230px;
    }

    .filterListSmall {
        padding-top: 30px;
    }

    #reviewSearch {
        margin-right: 0px;
    }
}

@media (min-width: 768px) {
    .mobileAds {
        display: none;
    }

    .fullGameTable {
        min-width: 720px;
        max-width: 950px;
    }

    .nameCell {
        margin-top: 45px;
    }

    .ratingCell {
        margin-top: 45px;
    }

    .tableBodyRow {
        width: auto;
        margin: auto;
        border: none;
        border-radius: 0;
    }

    .bigSort {
        display: initial;
    }

    .smallSort {
        display: none;
    }

    .navbar-right {
        float: right !important;
        margin-right: -11px;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: white;
        margin-top: 31px;
        font-size: 140%;
        padding: 10px 4px;
    }
}
