body {
    padding-top: 170px;
    padding-bottom: 20px;
    background-color: green;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 200px;
}

.logo {
    width: 60px;
    margin: 10px 10px 0 0px;
    float: left !important;
}

@media (max-width: 767px) {
    .logo {
        margin: 10px 0px 0 10px;
    }
}

@media (max-width: 348px) {
    .logo {
        display: none;
    }
}

.mobileAds img {
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 575px;
    max-height: 350px;
}

.adLink {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .mobileAds {
        display: none;
    }
}

textarea {
    box-sizing: border-box;
    height: 200px;
    width: 89%;
    border-radius: 10px;
    color: black;
}

.reviewEditor {
    height: 400px;
    max-width: 500px;
}

.platformLabel {
    width: 100%;
    text-align: center;
    font-size: 300%;
    color: black;
    font-weight: bold;
}

.table > tbody > tr > th,
.table > tbody > tr > td {
    text-align: center;
    border-top: none;
}

.contentContainer {
    border-radius: 20px;
    background-color: black;
    margin: auto;
    margin-bottom: 50px;
    color: white;
    padding: 20px;
}

    .contentContainer input {
        color: black;
    }

.contentHeader {
    color: white;
}

.sortBar {
    margin: 5px;
    border-radius: 10px;
}

#RoleName {
    color: black;
}

/*.table{
    color: white;
}*/

.fullGameTable {
    border-radius: 20px;
    background-color: black;
    margin: auto;
    margin-bottom: 50px;
    max-width: 400px;
}


@media (min-width: 768px) {
    .fullGameTable {
        min-width: 720px;
        max-width: 950px;
    }
}

.fullGameTable .row {
    margin-bottom: 10px;
}

.mainAside {
    margin-left: 10px;
}

.gameTable {
    border-top: none;
    color: white;
}

.thumbCell {
    text-align: center;
}

.nameHeader {
    text-align: center;
    font-size: 150%;
}

.bigSort {
    color: white;
    display: none;
}

.nameCell {
    text-align: center;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .nameCell {
        margin-top: 45px;
    }
}

.nameCell a {
    color: white;
    font-size: 150%;
}

.ratingCell {
    font-size: 150%;
    margin: auto;
    margin-top: 10px;
    height: 25px;
    text-align: center;
}

@media (min-width: 768px) {
    .ratingCell {
        margin-top: 45px;
    }
}

.ratingHeader {
    font-size: 150%;
    text-align: center;
}



@media (min-width: 768px) {
    .bigSort {
        display: initial;
    }
}

.smallSort {
    display: initial;
    color: white;
}

@media (min-width: 768px) {
    .smallSort {
        display: none;
    }
}


.navbar-inverse .navbar-brand {
    margin-top: 25px;
    font-size: 200%;
    color: white;
}

.filterList {
    width: 600px;
    margin-top: 20px;
}

.loginLink {
    height: 30px;
}

.navbar {
    background-color: black;
    border-bottom: 3px solid white;
}

.navbar-nav li {
    color: white;
    display: inline-flex;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    margin-top: 27px;
    font-size: 140%;
}

#registerLink, #loginLink, #adminLink {
    font-size: 100%;
}

#gameFilterForm {
    padding-top: 20px;
}

#searchLabel, #filterLabel {
    color: white;
    width: auto;
    padding: 0;
    padding-right: 10px;
    text-align: right;
}

#searchCriteria, #platformFilter {
    width: 140px;
    max-width: 140px;
}

.navbar-nav li label {
    width: 150px;
    text-align: right;
}

.navbar-nav li input {
    width: 120px;
    margin-top: 7px;
}

.navbar-nav li select {
    width: 127px;
}

.contentSearch {
    margin: 0px;
    margin-top: -10px;
    margin-bottom: 10px;
}


.detailBox {
    background: black;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
}

    .detailBox div {
        margin-top: 10px;
        font-size: 120%;
    }

.hidden {
    display: none;
}

.detailLabel {
    margin: 0;
    font-size: 50%;
}

.reviewControl {
    width: auto;
}

.reviewText {
    padding: 0px 30px;
    text-align: justify;
}

.reviewNumber p {
    margin: 0;
    font-size: 200%;
}

.reviewBox {
    margin: 5px;
}

.reviewBreak {
    margin: 5px 15px 5px 15px;
}

.reviewBtn {
    text-align: center;
    margin-bottom: 50px;
}


footer {
    background: black;
    position: fixed;
    bottom: 0;
    z-index: 999999;
    width: 104%;
    margin-left: -8px;
    border-top: 3px solid white;
}

    footer p {
        color: white;
        text-align: center;
        margin-top: 10px;
    }
