
    <div id="reviewSearch" class="nav navbar-nav navbar-right filterListSmall">
        <form id="gameFilterForm" action="/Reviews/Index/contentFilterForm" method="post">
            <div class="col-sm-12 form-group filterSearch">
                @Html.Label("Search for Text", htmlAttributes: new { @class = "col-sm-6 searchLabel" })
                @Html.TextBox("searchCriteria", null, new { @class = "form-control col-sm-6 contentSearch" })
            </div>
        </form>
    </div>
